body {background-image:url(https://tse2.mm.bing.net/th?id=OIP.1uRKjA8Zb5ZcC2FpUuxSeQHaEo);}
h1 {color:#5ac09e;}
img {width:400px;}
#thirdDiv {height:600px; width:500px; background:rgb(44, 97, 149); padding: 50px; border: 2px; border-color:cadetblue;}
.spanId {font-size: 18px; margin: 50px;}
